<p id="notice"><%= notice %></p>

<h1>Listing Thirdmodels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thirdmodels.each do |thirdmodel| %>
      <tr>
        <td><%= thirdmodel.name %></td>
        <td><%= link_to 'Show', thirdmodel %></td>
        <td><%= link_to 'Edit', edit_thirdmodel_path(thirdmodel) %></td>
        <td><%= link_to 'Destroy', thirdmodel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thirdmodel', new_thirdmodel_path %>
