<%= form_for(@secondmodel) do |f| %>
  <% if @secondmodel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@secondmodel.errors.count, "error") %> prohibited this secondmodel from being saved:</h2>

      <ul>
      <% @secondmodel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
