<p id="notice"><%= notice %></p>

<h1>Listing Secondmodels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @secondmodels.each do |secondmodel| %>
      <tr>
        <td><%= secondmodel.name %></td>
        <td><%= secondmodel.phone %></td>
        <td><%= link_to 'Show', secondmodel %></td>
        <td><%= link_to 'Edit', edit_secondmodel_path(secondmodel) %></td>
        <td><%= link_to 'Destroy', secondmodel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Secondmodel', new_secondmodel_path %>
