<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @secondmodel.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @secondmodel.phone %>
</p>

<%= link_to 'Edit', edit_secondmodel_path(@secondmodel) %> |
<%= link_to 'Back', secondmodels_path %>
